<div id="load" class="row" style="background: rgba(0,0,0,0.6); width: 103.5%; left: 0; right: 0;">
    <div class="col-sm-2">
        <div class="row">
            <div class="col d-sm-flex align-items-sm-center"><img src="static/img/Icon_Angle.png" width="17px" height="17px">
                <p class="d-sm-flex justify-content-sm-center align-items-sm-end" style="width: 54px;height: 30px;font-size: 16px;margin-bottom: 0px;color: var(--bs-white);font-family: Roboto, sans-serif;">X : {{angleX}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col d-sm-flex align-items-sm-center"><img src="static/img/Icon_Angle.png" width="17px" height="17px">
                <p class="d-sm-flex justify-content-sm-center align-items-sm-end" style="width: 54px;height: 30px;font-size: 16px;margin-bottom: 0px;font-family: Roboto, sans-serif;color: var(--bs-white);">Y : {{angleY}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col d-sm-flex align-items-sm-center"><img src="static/img/Icon_Angle.png" width="17px" height="17px">
                <p class="d-sm-flex justify-content-sm-center align-items-sm-end" style="width: 54px;height: 30px;font-size: 16px;margin-bottom: 0px;font-family: Roboto, sans-serif;color: var(--bs-white);">Z : {{angleZ}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col d-sm-flex align-items-sm-center"><img src="static/img/Icon_Battery.png" width="17px" height="17px" style="transform: rotate(270deg);">
                <p class="d-sm-flex justify-content-sm-center align-items-sm-end" style="width: 54px;height: 30px;font-size: 16px;margin-bottom: 0px;font-family: Roboto, sans-serif;color: var(--bs-white);">{{batterie}}%</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col d-sm-flex align-items-sm-center"><img src="static/img/Icon_Battery.png" width="17px" height="17px" style="transform: rotate(270deg);">
                <p class="d-sm-flex justify-content-sm-center align-items-sm-end" style="width: 54px;height: 30px;font-size: 16px;margin-bottom: 0px;font-family: Roboto, sans-serif;color: var(--bs-white);">S {{batterieServo}}%</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col d-sm-flex align-items-sm-center"><img src="static/img/Icon_Obstacle.png" width="17px" height="17px">
                <p class="d-sm-flex justify-content-sm-center align-items-sm-end" style="width: 54px;height: 30px;font-size: 16px;margin-bottom: 0px;color: var(--bs-white);">{{obstacleDist}} cm</p>
            </div>
        </div>
    </div>
</div>